{% load static %}
<!DOCTYPE html>
<head>
    <title>{% block title %}KontraktApp{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'KontraktApp/navbarStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'KontraktApp/style.css' %}">
</head>
<body>
    <div class="header navbar-top">
        {% block header %}{% include 'header.html' %}{% endblock %}
    </div>
    <div class="sidebar navbar-side">
        {% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
